In [62]:
### ë¶„ì„ì— í•„ìš”í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ ì…ë‹ˆë‹¤.
### ê·¸ëŒ€ë¡œ ë³µë¶™í•˜ì…”ì„œ ì‚¬ìš©í•´ì£¼ì„¸ìš”

# ê¸°ë³¸ ë¼ì´ë¸ŒëŸ¬ë¦¬
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# ê·¸ë˜í”„ ê¸°ë³¸ í…Œë§ˆ ì„¤ì •
# https://coldbrown.co.kr/2023/07/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EC%8B%A4%EC%A0%84%ED%8E%B8-08-seaborn-sns-set%EC%9D%84-%ED%86%B5%ED%95%B4-%EC%8A%A4%ED%83%80%EC%9D%BC-%EC%84%A4%EC%A0%95%ED%95%98%EA%B8%B0/
sns.set()

# ê·¸ë˜í”„ ê¸°ë³¸ ì„¤ì •
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# ë³µì¡í•œ í†µê³„ ì²˜ë¦¬ë¥¼ ìœ„í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬
from scipy import stats

In [3]:
df = pd.read_csv('Pizza Sales Dataset.csv')
df.head()

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_day,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,1/1/2015,Thursday,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,1/1/2015,Thursday,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,1/1/2015,Thursday,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,1/1/2015,Thursday,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,1/1/2015,Thursday,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [4]:
df.columns

Index(['pizza_id', 'order_id', 'pizza_name_id', 'quantity', 'order_date',
       'order_day', 'order_time', 'unit_price', 'total_price', 'pizza_size',
       'pizza_category', 'pizza_ingredients', 'pizza_name'],
      dtype='object')

### ì»¬ëŸ¼ëª… í•œêµ­ì–´ë¡œ ë°”ê¾¸ê¸°

In [5]:
df.rename(columns={
    'pizza_id': 'í”¼ì ID',
    'order_id': 'ì£¼ë¬¸ ID',
    'pizza_name_id': 'í”¼ì ì´ë¦„ ID',
    'quantity': 'ì£¼ë¬¸ ìˆ˜ëŸ‰',
    'order_date': 'ì£¼ë¬¸ ë‚ ì§œ',
    'order_day': 'ì£¼ë¬¸ ìš”ì¼',
    'order_time': 'ì£¼ë¬¸ ì‹œê°„',
    'unit_price': 'ë‹¨ê°€',
    'total_price': 'ì´ì•¡',
    'pizza_size': 'í”¼ì ì‚¬ì´ì¦ˆ',
    'pizza_category': 'í”¼ì ì¢…ë¥˜',
    'pizza_ingredients': 'í”¼ì ì¬ë£Œ ëª©ë¡',
    'pizza_name': 'í”¼ì ì´ë¦„'
}, inplace=True)

In [6]:
# ê²°ì¸¡ì¹˜ í™•ì¸ : ì—†ìŒ
df.isna().sum()

í”¼ì ID       0
ì£¼ë¬¸ ID       0
í”¼ì ì´ë¦„ ID    0
ì£¼ë¬¸ ìˆ˜ëŸ‰       0
ì£¼ë¬¸ ë‚ ì§œ       0
ì£¼ë¬¸ ìš”ì¼       0
ì£¼ë¬¸ ì‹œê°„       0
ë‹¨ê°€          0
ì´ì•¡          0
í”¼ì ì‚¬ì´ì¦ˆ      0
í”¼ì ì¢…ë¥˜       0
í”¼ì ì¬ë£Œ ëª©ë¡    0
í”¼ì ì´ë¦„       0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   í”¼ì ID     48620 non-null  int64
 1   ì£¼ë¬¸ ID     48620 non-null  int64
 2   í”¼ì ì´ë¦„ ID  48620 non-null  object
 3   ì£¼ë¬¸ ìˆ˜ëŸ‰     48620 non-null  int64
 4   ì£¼ë¬¸ ë‚ ì§œ     48620 non-null  object
 5   ì£¼ë¬¸ ìš”ì¼     48620 non-null  object
 6   ì£¼ë¬¸ ì‹œê°„     48620 non-null  object
 7   ë‹¨ê°€        48620 non-null  float64
 8   ì´ì•¡        48620 non-null  float64
 9   í”¼ì ì‚¬ì´ì¦ˆ    48620 non-null  object
 10  í”¼ì ì¢…ë¥˜     48620 non-null  object
 11  í”¼ì ì¬ë£Œ ëª©ë¡  48620 non-null  object
 12  í”¼ì ì´ë¦„     48620 non-null  object
dtypes: float64(2), int64(3), object(8)
memory usage: 4.8+ MB

### ë¶„ì„ ì‹œì‘(íŒ€ ì „ì²´ ë¶„ì„ í–¥ëª©)

### 1. â°Â **ì‹œê°„ëŒ€ë³„ ì£¼ë¬¸ëŸ‰ ë¶„ì„ (í”¼í¬íƒ€ì„ íŒŒì•…) í˜œì›ë‹˜**

- **ëª©í‘œ**: ì–¸ì œ ì‚¬ëŒë“¤ì´ í”¼ìë¥¼ ê°€ì¥ ë§ì´ ë¨¹ëŠ”ê°€?
- **ì‹œê°í™”**:Â `order_hour`Â ê¸°ì¤€ ë§‰ëŒ€ ê·¸ë˜í”„
- **í™œìš©**: ë§¤ì¥ ì¸ë ¥ ìš´ì˜, í”„ë¡œëª¨ì…˜ íƒ€ì´ë° ì„¤ê³„

---

### 2. ğŸ“…Â **ìš”ì¼ë³„ ì£¼ë¬¸ëŸ‰ ë¶„ì„ (ì£¼ë§ íŠ¹ìˆ˜ ì—¬ë¶€) í˜œì›ë‹˜**

- **ëª©í‘œ**: í”¼ì ìˆ˜ìš”ëŠ” ì£¼ì¤‘ vs ì£¼ë§ ì–´ë–»ê²Œ ë‹¤ë¥¸ê°€?
- **ì‹œê°í™”**:Â `order_day`Â ê¸°ì¤€ ë§‰ëŒ€ ê·¸ë˜í”„
- **í™œìš©**: ì£¼ë§ ì§‘ì¤‘ ë§ˆì¼€íŒ… or í• ì¸ ì „ëµ ê·¼ê±°

---

### 3. ğŸ•Â **í”¼ì ì¢…ë¥˜ë³„ íŒë§¤ëŸ‰ TOP 10 í˜œì›ë‹˜**

- **ëª©í‘œ**: ì–´ë–¤ í”¼ìê°€ ì˜ íŒ”ë¦¬ëŠ”ê°€?
- **ì‹œê°í™”**:Â `pizza_name`Â ê¸°ì¤€ ìƒìœ„ íŒë§¤ëŸ‰ ê·¸ë˜í”„
- **í™œìš©**: ë©”ë‰´ êµ¬ì„± / ë² ìŠ¤íŠ¸ ë©”ë‰´ ê°•ì¡° í¬ìŠ¤í„° ì„¤ê³„

---

### 4. ğŸ§‚Â **í† í•‘ ì¬ë£Œ ìˆ˜ì™€ ì£¼ë¬¸ëŸ‰ ê´€ê³„ íš¨ì¤€ë‹˜**

- **ëª©í‘œ**: ì¬ë£Œê°€ ë§ì€ í”¼ìê°€ ë” ì˜ íŒ”ë¦´ê¹Œ?
- **ì „ì²˜ë¦¬**:Â `pizza_ingredients`ì—ì„œ ì¬ë£Œ ìˆ˜ ì¶”ì¶œ
- **ì‹œê°í™”**: ì¬ë£Œ ê°œìˆ˜ vs í‰ê·  ì£¼ë¬¸ëŸ‰ ì„  ê·¸ë˜í”„
- **í™œìš©**: ê³ ê¸‰í˜• ë©”ë‰´ ê°œë°œ or ë‹¨ìˆœ ë©”ë‰´ í™•ëŒ€ ê²°ì •

---

### 5. ğŸ’°Â **ë‹¨ê°€ ëŒ€ë¹„ íŒë§¤ëŸ‰ ë¶„ì„ íš¨ì¤€ë‹˜**

- **ëª©í‘œ**: ê³ ê°€ í”¼ìê°€ ë” ë§ì´ íŒ”ë¦´ê¹Œ?
- **ì‹œê°í™”**:Â `unit_price`Â vsÂ `quantity`Â ì‚°ì ë„
- **í™œìš©**: í”„ë¦¬ë¯¸ì—„ ë¼ì¸ í™•ëŒ€ or ì¤‘ì €ê°€ ì „ëµ ê³ ë¯¼

---

### 6. ğŸ“Â **ì‚¬ì´ì¦ˆë³„ íŒë§¤ ë¹„ì¤‘ ë¶„ì„ íš¨ì¤€ë‹˜**

- **ëª©í‘œ**: ê³ ê°ì€ ì–´ë–¤ í¬ê¸°ì˜ í”¼ìë¥¼ ì„ í˜¸í•˜ëŠ”ê°€?
- **ì‹œê°í™”**:Â `pizza_size`Â ë¹„ìœ¨ íŒŒì´ì°¨íŠ¸ or ë§‰ëŒ€ì°¨íŠ¸
- **í™œìš©**: í”„ë¡œëª¨ì…˜ ì„¸íŠ¸ êµ¬ì„± / ì†Œí˜• ë©”ë‰´ ë„ì… íŒë‹¨

---

### 7. ğŸ“ŠÂ **ì¹´í…Œê³ ë¦¬ë³„ ì£¼ë¬¸ëŸ‰ ë¹„êµ (Classic / Gourmet / Veg ë“±) íš¨ì¤€ë‹˜**

- **ëª©í‘œ**: ì±„ì‹ í”¼ìì˜ ìˆ˜ìš”ëŠ” ì¡´ì¬í•˜ëŠ”ê°€?
- **ì‹œê°í™”**:Â `pizza_category`Â ê¸°ì¤€ ë§‰ëŒ€ê·¸ë˜í”„
- **í™œìš©**: ê³ ê°êµ° íƒ€ê¹ƒ ì„¸ë¶„í™”, ê±´ê°•ì‹ í”¼ì ì¶œì‹œ íŒë‹¨

---

### **8. ğŸ•ì£¼ë¬¸ IDê°€ ê°™ì€ ì‚¬ìš©ì ì¤‘(í•œë²ˆì— ì—¬ëŸ¬íŒ ì£¼ë¬¸) ê°™ì´ ì£¼ë¬¸í•˜ëŠ” í”¼ìì˜ ì¡°í•© ì¤‘ BEST 3ë¥¼ ë½‘ì•„ë³´ì. ìˆ˜ì—°ë‹˜**

> ì„¸íŠ¸ ë©”ë‰´ë¡œ êµ¬ì„±í•´ì„œ ë‹¨ê°€ë¥¼ ë‚®ì¶°ë³´ì.
> 

---

### **9. â˜€ï¸ì£¼ë¬¸ ë‚ ì§œ(ê³„ì ˆë³„(3,4,5/6,7,8/9,10,11/12,1,2)) ì£¼ë¬¸ì„ ë§ì´ í•˜ëŠ” ê³„ì ˆë³„ë¡œ ì£¼ë¬¸ëŸ‰ì´ ë§ì€ ë©”ë‰´ TOP5ë¥¼ ê³¨ë¼ë³´ì.**Â í˜„ì„ë‹˜

> ì‹œì¦Œë©”ë‰´ë¥¼ êµ¬ì„±í•´ë³´ì.
> 

---

### **10.ğŸ’­ í”¼ì ì£¼ë¬¸ ì¡°í•© BEST3ë¥¼ ì¡°ì‚¬í•´ë³´ì. Ex. í•œë²ˆ ì£¼ë¬¸ ì‹œ, ìŠ¤ëª°ì‚¬ì´ì¦ˆë¡œ ì—¬ëŸ¬ê°€ì§€ ì¢…ë¥˜ì˜ í”¼ìë¥¼ ì£¼ë¬¸ VS ê°™ì€ ì¢…ë¥˜ë¡œ ì—¬ëŸ¬íŒ êµ¬ë§¤**Â ì„¤ì—°ë‹˜

> ì½¤ë³´ ë©”ë‰´ë¥¼ ë§Œë“¤ê¸°.
> 

---

### **11. ğŸ§‘â€ğŸ§‘â€ğŸ§’ë‹¨ì²´ ì£¼ë¬¸(3íŒ ì´ìƒ)ì´ ë§ì„ ê¹Œ ì•„ë‹ˆë©´ ì†Œê·œëª¨ ì£¼ë¬¸(1,2íŒ)ì´ ë§ì„ê¹Œ? ì„¤ì—°ë‹˜**

> ì†Œê·œëª¨ ì£¼ë¬¸ì´ ë¯¾ê±°ë‚˜ ë‹¨ì²´ì£¼ë¬¸ì´ ë§ì„ ë•Œ ê°ê°ì˜ ê²½ìš° í• ì¸ ì´ë²¤íŠ¸ë¥¼ êµ¬ì„±.
> 

---

### **12. ğŸŒ‡í‰ì¼ VS íœ´ì¼(í† ,ì¼,ê³µíœ´ì¼) ì¤‘ ì£¼ë¬¸ëŸ‰ê³¼ ë§¤ì¶œì•¡ì„ ë¹„êµ ì„¤ì—°ë‹˜**

> ì£¼ë§ í• ì¸, íŠ¹ì • ë‚ (ì–´ë¦°ì´ë‚ , ì»¤í”Œì˜ ë‚ )ì— í• ì¸(ì´ë¯¸ í•˜ê³  ìˆìŒ.)
> 

---

### 13. ğŸ¥£ì ì‹¬ ì£¼ë¬¸ì´ ë§ë‚˜ ì €ë… ì£¼ë¬¸ì´ ë§ë‚˜? í˜„ì„ë‹˜

(ì˜¤í”ˆì‹œê°„ ì¤‘ ì£¼ë¬¸ëŸ‰ì´ ì ì€ ì‹œê°„ì— í• ì¸ ì´ë²¤íŠ¸ë¡œ ì£¼ë¬¸ ìœ ë„)

ë§ˆì°¬ê°€ì§€ë¡œ í†µê³„ì ìœ¼ë¡œ ì£¼ë¬¸ì´ ì ì€ ìš”ì¼ì— í• ì¸ì´ë²¤íŠ¸ë¡œ ì£¼ë¬¸ ìœ ë„

---

### **14. ğŸ”„ í”¼ì í¬ê¸° ì¡°í•© ë¶„ì„ â€“ ì–´ë–¤ ì‚¬ì´ì¦ˆ ì¡°í•©ì´ ìì£¼ ê°™ì´ íŒ”ë¦´ê¹Œ? í˜„ì„ë‹˜**

- **ëª©í‘œ**: í•œ ì£¼ë¬¸ ì•ˆì—ì„œ ì–´ë–¤ ì‚¬ì´ì¦ˆ ì¡°í•©ì´ ìì£¼ ë“±ì¥í•˜ëŠ”ê°€?
- **ì „ì²˜ë¦¬**:Â `Order ID`ë³„Â `Size`Â ì¡°í•© ë¶„ì„
- **ì‹œê°í™”**: í¬ê¸° ì¡°í•©ë³„ ë¹ˆë„ìˆ˜ íˆíŠ¸ë§µ
- **í™œìš©**: ì„¸íŠ¸ êµ¬ì„± ìµœì í™” (ì˜ˆ: M + L êµ¬ì„± ì„¸íŠ¸ ë©”ë‰´)

---

### **15. ğŸ”„ ì¬êµ¬ë§¤ ì¶”ì • (ë™ì¼ Order ID ë¹ˆë„ ê¸°ë°˜)**

- **ëª©í‘œ**: ê³ ê°ë“¤ì€ ì–´ë–¤ ê°€ê²©ëŒ€ + ì–´ë–¤ ì¢…ë¥˜ì˜ í”¼ìë¥¼ ì¦ê¸°ëŠ”ê°€?
- **ì‹œê°í™”**:Â `unit_price`,Â `category`,Â `size`Â ê¸°ì¤€ ë²„ë¸” ì°¨íŠ¸
- **í™œìš©**: íƒ€ê¹ƒ ê³ ê°ë³„ ë§ì¶¤ í”„ë¡œëª¨ì…˜ (ex. ì €ê°€+ì†Œí˜• ì„ í˜¸ ê³ ê°ì¸µ vs ê³ ê°€+XL ê³ ê°ì¸µ)

---

### **16. ğŸ”„ ì¬êµ¬ë§¤ ì¶”ì • (ë™ì¼ Order ID ë¹ˆë„ ê¸°ë°˜)**

- **ëª©í‘œ**: ì¶©ì„± ê³ ê°ì´ ì„ í˜¸í•˜ëŠ” ë©”ë‰´ëŠ”?
- **ì „ì²˜ë¦¬**: ê°™ì€Â `Order ID`ê°€ ë°˜ë³µ ë“±ì¥í•˜ëŠ” ê³ ê° ê·¸ë£¹í•‘
- **ì‹œê°í™”**: ë°˜ë³µ ì£¼ë¬¸ëœ í”¼ì ì¢…ë¥˜ TOP 5
- **í™œìš©**: ì¶©ì„± ê³ ê° ëŒ€ìƒ ì¶”ì²œ ë©”ë‰´ / ë¦¬í…ì…˜ ë§ˆì¼€íŒ…

### í˜„ì„ ë‹´ë‹¹ì˜ ë¶„ì„ í•­ëª© : 9, 13, 14ë²ˆ

### **9. â˜€ï¸ì£¼ë¬¸ ë‚ ì§œ(ê³„ì ˆë³„(3,4,5/6,7,8/9,10,11/12,1,2)) ì£¼ë¬¸ì„ ë§ì´ í•˜ëŠ” ê³„ì ˆë³„ë¡œ ì£¼ë¬¸ëŸ‰ì´ ë§ì€ ë©”ë‰´ TOP5ë¥¼ ê³¨ë¼ë³´ì.**Â í˜„ì„ë‹˜

ì‹œì¦Œë©”ë‰´ë¥¼ êµ¬ì„±í•´ë³´ì.

---

In [17]:
#ë…„/ì›”/ì¼ ìˆœìœ¼ë¡œ ë°”ê¾¸ê¸° ìœ„í•´ datetime typeìœ¼ë¡œ ìë£Œí˜•ì„ ë°”ê¾¼ë‹¤.
df['ì£¼ë¬¸ ë‚ ì§œ'] = pd.to_datetime(df['ì£¼ë¬¸ ë‚ ì§œ'], dayfirst=True, errors='raise')

In [18]:
#ë°ì´í„° íƒ€ì…ì´ datetime64[ns]ì—¬ì•¼í•¨.
print(df['ì£¼ë¬¸ ë‚ ì§œ'].dtype)

datetime64[ns]

In [19]:
# ë…„/ì›”/ì¼ ìˆœìœ¼ë¡œ ë°”ê¾¼ë‹¤.
df['ì£¼ë¬¸ ë‚ ì§œ'] = df['ì£¼ë¬¸ ë‚ ì§œ'].dt.strftime('%Y/%m/%d')

In [28]:
# ì›” ì •ë³´ë¥¼ ì¶”ì¶œí•˜ëŠ” ì¹¼ëŸ¼ì„ ìƒì„±í•œë‹¤.
df['ì›”'] = df['ì£¼ë¬¸ ë‚ ì§œ'].str.slice(5, 7).astype(int)

In [32]:
# ì›” ì •ë³´ë¥¼ ë¶„ê¸°ë¡œ ë‚˜ëˆˆë‹¤.
def ë¶„ê¸°_3ê°œì›”(month):
    if month in [3, 4, 5]:
        return 'ë´„(3~5ì›”)'
    elif month in [6, 7, 8]:
        return 'ì—¬ë¦„(6~8ì›”)'
    elif month in [9, 10, 11]:
        return 'ê°€ì„(9~11ì›”)'
    else:  # 12, 1, 2
        return 'ê²¨ìš¸(12~2ì›”)'

df['ë¶„ê¸°'] = df['ì›”'].apply(ë¶„ê¸°_3ê°œì›”)

In [58]:
# ë¶„ê¸°ë³„ í”¼ìì´ë¦„ì˜ ì£¼ë¬¸ ìˆ˜ëŸ‰ í•©ê³„
ë¶„ê¸°ë³„_í”¼ìì´ë¦„_í•©ê³„ = (
    df.groupby(['ë¶„ê¸°', 'í”¼ì ì´ë¦„'])['ì£¼ë¬¸ ìˆ˜ëŸ‰']
      .sum()
      .reset_index(name='ì´ì£¼ë¬¸ìˆ˜ëŸ‰')
      .sort_values(['ë¶„ê¸°', 'ì´ì£¼ë¬¸ìˆ˜ëŸ‰'], ascending=[True, False]))

In [61]:
#TOP5ë§Œ êµ¬í•´ë³¸ë‹¤.
top5_ë¶„ê¸°ë³„_í”¼ìì´ë¦„ = (
    ë¶„ê¸°ë³„_í”¼ìì´ë¦„_í•©ê³„
    .groupby('ë¶„ê¸°')
    .head(5)
    .reset_index(drop=True)
)

print(top5_ë¶„ê¸°ë³„_í”¼ìì´ë¦„)

           ë¶„ê¸°                         í”¼ì ì´ë¦„  ì´ì£¼ë¬¸ìˆ˜ëŸ‰
0   ê°€ì„(9~11ì›”)      The Classic Deluxe Pizza    629
1   ê°€ì„(9~11ì›”)            The Hawaiian Pizza    612
2   ê°€ì„(9~11ì›”)    The Barbecue Chicken Pizza    604
3   ê°€ì„(9~11ì›”)        The Thai Chicken Pizza    596
4   ê°€ì„(9~11ì›”)           The Pepperoni Pizza    589
5   ê²¨ìš¸(12~2ì›”)  The California Chicken Pizza    605
6   ê²¨ìš¸(12~2ì›”)           The Pepperoni Pizza    601
7   ê²¨ìš¸(12~2ì›”)    The Barbecue Chicken Pizza    594
8   ê²¨ìš¸(12~2ì›”)      The Classic Deluxe Pizza    575
9   ê²¨ìš¸(12~2ì›”)            The Hawaiian Pizza    571
10    ë´„(3~5ì›”)    The Barbecue Chicken Pizza    639
11    ë´„(3~5ì›”)            The Hawaiian Pizza    635
12    ë´„(3~5ì›”)      The Classic Deluxe Pizza    630
13    ë´„(3~5ì›”)        The Thai Chicken Pizza    610
14    ë´„(3~5ì›”)           The Pepperoni Pizza    608
15   ì—¬ë¦„(6~8ì›”)  The California Chicken Pizza    622
16   ì—¬ë¦„(6~8ì›”)           The Pepperoni Pizza    620
17   ì—¬ë¦„(6~8ì›”)      The Classic Deluxe Pizza    619
18   ì—¬ë¦„(6~8ì›”)            The Hawaiian Pizza    604
19   ì—¬ë¦„(6~8ì›”)        The Thai Chicken Pizza    596

In [60]:
#TOP10ë§Œ êµ¬í•´ë³¸ë‹¤.
top10_ë¶„ê¸°ë³„_í”¼ìì´ë¦„ = (
    ë¶„ê¸°ë³„_í”¼ìì´ë¦„_í•©ê³„
    .groupby('ë¶„ê¸°')
    .head(10)
    .reset_index(drop=True)
)

print(top10_ë¶„ê¸°ë³„_í”¼ìì´ë¦„)

           ë¶„ê¸°                         í”¼ì ì´ë¦„  ì´ì£¼ë¬¸ìˆ˜ëŸ‰
0   ê°€ì„(9~11ì›”)      The Classic Deluxe Pizza    629
1   ê°€ì„(9~11ì›”)            The Hawaiian Pizza    612
2   ê°€ì„(9~11ì›”)    The Barbecue Chicken Pizza    604
3   ê°€ì„(9~11ì›”)        The Thai Chicken Pizza    596
4   ê°€ì„(9~11ì›”)           The Pepperoni Pizza    589
5   ê°€ì„(9~11ì›”)  The California Chicken Pizza    565
6   ê°€ì„(9~11ì›”)   The Southwest Chicken Pizza    503
7   ê°€ì„(9~11ì›”)         The Four Cheese Pizza    497
8   ê°€ì„(9~11ì›”)            The Sicilian Pizza    492
9   ê°€ì„(9~11ì›”)            The Big Meat Pizza    467
10  ê²¨ìš¸(12~2ì›”)  The California Chicken Pizza    605
11  ê²¨ìš¸(12~2ì›”)           The Pepperoni Pizza    601
12  ê²¨ìš¸(12~2ì›”)    The Barbecue Chicken Pizza    594
13  ê²¨ìš¸(12~2ì›”)      The Classic Deluxe Pizza    575
14  ê²¨ìš¸(12~2ì›”)            The Hawaiian Pizza    571
15  ê²¨ìš¸(12~2ì›”)        The Thai Chicken Pizza    569
16  ê²¨ìš¸(12~2ì›”)            The Sicilian Pizza    485
17  ê²¨ìš¸(12~2ì›”)         The Four Cheese Pizza    454
18  ê²¨ìš¸(12~2ì›”)     The Italian Supreme Pizza    451
19  ê²¨ìš¸(12~2ì›”)   The Southwest Chicken Pizza    433
20    ë´„(3~5ì›”)    The Barbecue Chicken Pizza    639
21    ë´„(3~5ì›”)            The Hawaiian Pizza    635
22    ë´„(3~5ì›”)      The Classic Deluxe Pizza    630
23    ë´„(3~5ì›”)        The Thai Chicken Pizza    610
24    ë´„(3~5ì›”)           The Pepperoni Pizza    608
25    ë´„(3~5ì›”)  The California Chicken Pizza    578
26    ë´„(3~5ì›”)       The Spicy Italian Pizza    508
27    ë´„(3~5ì›”)            The Big Meat Pizza    506
28    ë´„(3~5ì›”)         The Four Cheese Pizza    504
29    ë´„(3~5ì›”)     The Italian Supreme Pizza    499
30   ì—¬ë¦„(6~8ì›”)  The California Chicken Pizza    622
31   ì—¬ë¦„(6~8ì›”)           The Pepperoni Pizza    620
32   ì—¬ë¦„(6~8ì›”)      The Classic Deluxe Pizza    619
33   ì—¬ë¦„(6~8ì›”)            The Hawaiian Pizza    604
34   ì—¬ë¦„(6~8ì›”)        The Thai Chicken Pizza    596
35   ì—¬ë¦„(6~8ì›”)    The Barbecue Chicken Pizza    595
36   ì—¬ë¦„(6~8ì›”)       The Spicy Italian Pizza    536
37   ì—¬ë¦„(6~8ì›”)            The Big Meat Pizza    511
38   ì—¬ë¦„(6~8ì›”)   The Southwest Chicken Pizza    495
39   ì—¬ë¦„(6~8ì›”)            The Sicilian Pizza    485

In [56]:
a1 = df['í”¼ìíƒ€ì…'].nunique()
a2 = df['í”¼ì ì´ë¦„'].nunique()
a3 = df['í”¼ì ì¢…ë¥˜'].nunique()
print(a1,a2,a3)

32 32 4

TOP5ì—ì„œ TOP10ìœ¼ë¡œ í•­ëª©ì„ ê°„ì¶”ë ¤ë„ í° ë³€í™”ê°€ ì—†ë‹¤. ì‹œì¦Œë©”ë‰´ëŠ” í•„ìš” ì—†ì„ ê²ƒ ê°™ë‹¤.

### 13. ğŸ¥£ì ì‹¬ ì£¼ë¬¸ì´ ë§ë‚˜ ì €ë… ì£¼ë¬¸ì´ ë§ë‚˜? í˜„ì„ë‹˜

(ì˜¤í”ˆì‹œê°„ ì¤‘ ì£¼ë¬¸ëŸ‰ì´ ì ì€ ì‹œê°„ì— í• ì¸ ì´ë²¤íŠ¸ë¡œ ì£¼ë¬¸ ìœ ë„)

ë§ˆì°¬ê°€ì§€ë¡œ í†µê³„ì ìœ¼ë¡œ ì£¼ë¬¸ì´ ì ì€ ìš”ì¼ì— í• ì¸ì´ë²¤íŠ¸ë¡œ ì£¼ë¬¸ ìœ ë„

---

In [68]:
print(df['ì£¼ë¬¸ ì‹œê°„'].dtype)

object

In [69]:
# 1. ì‹œê°„ í˜•ì‹ìœ¼ë¡œ ë³€í™˜ (ì‹œê°„ë§Œ ìˆëŠ” ê²½ìš° 'datetime.time' í˜•íƒœë¡œ ë³€í™˜ ê°€ëŠ¥)
df['ì£¼ë¬¸ ì‹œê°„ ë³€í™˜'] = pd.to_datetime(df['ì£¼ë¬¸ ì‹œê°„'], format='%H:%M:%S').dt.time

# 2. ë³€í™˜í•œ ì‹œê°„ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬
df_sorted = df.sort_values(by='ì£¼ë¬¸ ì‹œê°„ ë³€í™˜')

# 3. ì •ë ¬ ê²°ê³¼ í™•ì¸
print(df_sorted)

       í”¼ì ID  ì£¼ë¬¸ ID        í”¼ì ì´ë¦„ ID  ì£¼ë¬¸ ìˆ˜ëŸ‰       ì£¼ë¬¸ ë‚ ì§œ     ì£¼ë¬¸ ìš”ì¼     ì£¼ë¬¸ ì‹œê°„  \
43612  43613  19176      hawaiian_l      1  2015/11/24   Tuesday   9:52:21
43613  43614  19176  peppr_salami_l      1  2015/11/24   Tuesday   9:52:21
43614  43615  19176    the_greek_xl      1  2015/11/24   Tuesday   9:52:21
43615  43616  19176    veggie_veg_l      1  2015/11/24   Tuesday   9:52:21
34189  34190  15092     pepperoni_m      1  2015/10/09  Thursday  10:25:19
...      ...    ...             ...    ...         ...       ...       ...
7096    7097   3133   soppressata_l      1  2015/02/21  Saturday  23:05:24
7095    7096   3133    napolitana_l      1  2015/02/21  Saturday  23:05:24
7094    7095   3133  mediterraneo_l      1  2015/02/21  Saturday  23:05:24
28219  28220  12433  spinach_supr_m      1  2015/07/26    Sunday  23:05:52
28220  28221  12433    veggie_veg_m      1  2015/07/26    Sunday  23:05:52

          ë‹¨ê°€     ì´ì•¡ í”¼ì ì‚¬ì´ì¦ˆ    í”¼ì ì¢…ë¥˜  \
43612  16.50  16.50      L  Classic
43613  20.75  20.75      L  Supreme
43614  25.50  25.50     XL  Classic
43615  20.25  20.25      L   Veggie
34189  12.50  12.50      M  Classic
...      ...    ...    ...      ...
7096   20.75  20.75      L  Supreme
7095   20.50  20.50      L  Classic
7094   20.25  20.25      L   Veggie
28219  16.50  16.50      M  Supreme
28220  16.00  16.00      M   Veggie

                                                í”¼ì ì¬ë£Œ ëª©ë¡  \
43612           Sliced Ham, Pineapple, Mozzarella Cheese
43613  Genoa Salami, Capocollo, Pepperoni, Tomatoes, ...
43614  Kalamata Olives, Feta Cheese, Tomatoes, Garlic...
43615  Mushrooms, Tomatoes, Red Peppers, Green Pepper...
34189                       Mozzarella Cheese, Pepperoni
...                                                  ...
7096   Soppressata Salami, Fontina Cheese, Mozzarella...
7095   Tomatoes, Anchovies, Green Olives, Red Onions,...
7094   Spinach, Artichokes, Kalamata Olives, Sun-drie...
28219  Spinach, Red Onions, Pepperoni, Tomatoes, Arti...
28220  Mushrooms, Tomatoes, Red Peppers, Green Pepper...

                                   í”¼ì ì´ë¦„   ì›”  \
43612                 The Hawaiian Pizza  11
43613            The Pepper Salami Pizza  11
43614                    The Greek Pizza  11
43615  The Vegetables + Vegetables Pizza  11
34189                The Pepperoni Pizza  10
...                                  ...  ..
7096               The Soppressata Pizza   2
7095                The Napolitana Pizza   2
7094             The Mediterranean Pizza   2
28219          The Spinach Supreme Pizza   7
28220  The Vegetables + Vegetables Pizza   7

                                           í”¼ìíƒ€ì…         ë¶„ê¸°  ì£¼ë¬¸ ì‹œê°„ ë³€í™˜ ì‹œê°„ëŒ€
43612                Classic The Hawaiian Pizza  ê°€ì„(9~11ì›”)  09:52:21  ì•„ì¹¨
43613           Supreme The Pepper Salami Pizza  ê°€ì„(9~11ì›”)  09:52:21  ì•„ì¹¨
43614                   Classic The Greek Pizza  ê°€ì„(9~11ì›”)  09:52:21  ì•„ì¹¨
43615  Veggie The Vegetables + Vegetables Pizza  ê°€ì„(9~11ì›”)  09:52:21  ì•„ì¹¨
34189               Classic The Pepperoni Pizza  ê°€ì„(9~11ì›”)  10:25:19  ì•„ì¹¨
...                                         ...        ...       ...  ..
7096              Supreme The Soppressata Pizza  ê²¨ìš¸(12~2ì›”)  23:05:24  ì•¼ê°„
7095               Classic The Napolitana Pizza  ê²¨ìš¸(12~2ì›”)  23:05:24  ì•¼ê°„
7094             Veggie The Mediterranean Pizza  ê²¨ìš¸(12~2ì›”)  23:05:24  ì•¼ê°„
28219         Supreme The Spinach Supreme Pizza   ì—¬ë¦„(6~8ì›”)  23:05:52  ì•¼ê°„
28220  Veggie The Vegetables + Vegetables Pizza   ì—¬ë¦„(6~8ì›”)  23:05:52  ì•¼ê°„

[48620 rows x 18 columns]

ì˜¤ì „ ì£¼ë¬¸ë„ ì¡´ì¬í•˜ë¯€ë¡œ ì‹œê°„ëŒ€ë¥¼ ì•„ì¹¨ : 9ì‹œë¶€í„° 11ì‹œì´ì „,ì ì‹¬ : 11ì‹œë¶€í„° 3ì‹œì´ì „,ë¸Œë ˆì´í¬íƒ€ì„ : 3ì‹œë¶€í„° 5ì‹œì´ì „,ì €ë… : 5ì‹œë¶€í„° 9ì‹œì´ì „,ì•¼ê°„ : 9ì‹œë¶€í„° 12ì‹œì´ì „ìœ¼ë¡œ ë‚˜ëˆ„ì–´ë³¸ë‹¤.

In [71]:
#datetime typeìœ¼ë¡œ ë³€í™˜
df['ì£¼ë¬¸ ì‹œê°„ ë³€í™˜'] = pd.to_datetime(df['ì£¼ë¬¸ ì‹œê°„'], format='%H:%M:%S', errors='coerce').dt.hour

In [74]:
#ì‹œê°„ëŒ€ ì¹¼ëŸ¼ì„ ìƒì„±ì„±
def ì‹œê°„ëŒ€(hour):
    if 9 <= hour < 11:
        return 'ì•„ì¹¨'
    elif 11 <= hour < 15:
        return 'ì ì‹¬'
    elif 15 <= hour < 17:
        return 'ë¸Œë ˆì´í¬íƒ€ì„'
    elif 17 <= hour < 21:
        return 'ì €ë…'
    elif 21 <= hour < 24:
        return 'ì•¼ê°„'
    else:
        return 'ê¸°íƒ€'  # ì˜ˆ: 0~8ì‹œ ë˜ëŠ” ê²°ì¸¡ì¹˜ ì²˜ë¦¬

df['ì‹œê°„ëŒ€'] = df['ì£¼ë¬¸ ì‹œê°„ ë³€í™˜'].apply(ì‹œê°„ëŒ€)

In [63]:
df.groupby('ì‹œê°„ëŒ€').size().reset_index(name='ì£¼ë¬¸ìˆ˜')

      ì‹œê°„ëŒ€    ì£¼ë¬¸ìˆ˜
0  ë¸Œë ˆì´í¬íƒ€ì„   7355
1      ì•„ì¹¨     21
2      ì•¼ê°„   3966
3      ì €ë…  18339
4      ì ì‹¬  18939

ì•„ì¹¨(9-11)ì—ëŠ” ì£¼ë¬¸ ìˆ˜ê°€ ê±°ì˜ ì—†ê³ 
ì ì‹¬(11-3),ì €ë…(5-9) ì£¼ë¬¸ëŸ‰ì´ ìµœëŒ€
ë¸Œë ˆì´í¬íƒ€ì„(3-5) ì£¼ë¬¸ëŸ‰ì´ ì ì‹¬, ì €ë…ì˜ ì•½ 50í¼ì„¼íŠ¸ì¸ë° ì´ëŠ” ì‹œê°„ ê°„ê²©ìƒ ë•Œë¬¸ì¼ ìˆ˜ë„ ìˆìœ¼ë¯€ë¡œ
ë‹¤ì‹œ 1ì‹œê°„ ê°„ê²©ìœ¼ë¡œ ì¡°ì‚¬í•œë‹¤.

In [88]:
#9ì‹œë¶€í„° 23ì‹œê¹Œì§€ í•„í„°ë§ (23ì‹œ~24ì‹œ êµ¬ê°„ì„ ìœ„í•´ 23ê¹Œì§€ í¬í•¨)
df_valid = df[df['ì£¼ë¬¸ ì‹œê°„ ë³€í™˜'].between(9, 23)].copy()

#ì‹œì‘ì‹œê°„ ë¼ë²¨ ìƒì„±
df_valid['ì‹œê°„ëŒ€'] = df_valid['ì£¼ë¬¸ ì‹œê°„ ë³€í™˜'].astype(str) + 'ì‹œ~' + (df_valid['ì£¼ë¬¸ ì‹œê°„ ë³€í™˜'] + 1).astype(str) + 'ì‹œ'

#ì‹œê°„ëŒ€ë³„ ê°œìˆ˜ ì„¸ê¸°
ì‹œê°„ëŒ€ë³„_ê°œìˆ˜ = (
    df_valid['ì‹œê°„ëŒ€']
    .value_counts()
    .reset_index()
    .rename(columns={'index': 'ì‹œê°„ëŒ€', 'ì‹œê°„ëŒ€': 'ê°œìˆ˜'})
)

#ì‹œê°„ëŒ€ ë¬¸ìì—´ì„ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬í•˜ê¸° ìœ„í•´ ì‹œì‘ì‹œê°„ ìˆ«ì ì¶”ì¶œ
ì‹œê°„ëŒ€ë³„_ê°œìˆ˜['ì‹œì‘ì‹œê°„'] = ì‹œê°„ëŒ€ë³„_ê°œìˆ˜['ì‹œê°„ëŒ€'].str.split('ì‹œ').str[0].astype(int)

#ì‹œì‘ì‹œê°„ ê¸°ì¤€ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬ í›„ í•„ìš” ì—†ëŠ” ì»¬ëŸ¼ ì‚­ì œ
ì‹œê°„ëŒ€ë³„_ê°œìˆ˜ = ì‹œê°„ëŒ€ë³„_ê°œìˆ˜.sort_values('ì‹œì‘ì‹œê°„').drop(columns='ì‹œì‘ì‹œê°„').reset_index(drop=True)

#ì¶œë ¥
print(ì‹œê°„ëŒ€ë³„_ê°œìˆ˜)

        ì‹œê°„ëŒ€    ê°œìˆ˜
0    9ì‹œ~10ì‹œ     4
1   10ì‹œ~11ì‹œ    17
2   11ì‹œ~12ì‹œ  2672
3   12ì‹œ~13ì‹œ  6543
4   13ì‹œ~14ì‹œ  6203
5   14ì‹œ~15ì‹œ  3521
6   15ì‹œ~16ì‹œ  3170
7   16ì‹œ~17ì‹œ  4185
8   17ì‹œ~18ì‹œ  5143
9   18ì‹œ~19ì‹œ  5359
10  19ì‹œ~20ì‹œ  4350
11  20ì‹œ~21ì‹œ  3487
12  21ì‹œ~22ì‹œ  2528
13  22ì‹œ~23ì‹œ  1370
14  23ì‹œ~24ì‹œ    68

In [89]:
# ì „ì²´ ì£¼ë¬¸ ê°œìˆ˜ í•©ê³„
ì „ì²´_ê°œìˆ˜í•© = ì‹œê°„ëŒ€ë³„_ê°œìˆ˜['ê°œìˆ˜'].sum()

# ì‹œê°„ëŒ€ ê°œìˆ˜ (í–‰ ê°œìˆ˜)
ì‹œê°„ëŒ€_ê°œìˆ˜ = ì‹œê°„ëŒ€ë³„_ê°œìˆ˜.shape[0]

# í‰ê·  ì£¼ë¬¸ëŸ‰ ê³„ì‚°
í‰ê· _ì£¼ë¬¸ëŸ‰ = ì „ì²´_ê°œìˆ˜í•© / ì‹œê°„ëŒ€_ê°œìˆ˜

print(f"ì „ì²´ ì£¼ë¬¸ ê°œìˆ˜ í•©ê³„: {ì „ì²´_ê°œìˆ˜í•©}")
print(f"ì‹œê°„ëŒ€ ê°œìˆ˜: {ì‹œê°„ëŒ€_ê°œìˆ˜}")
print(f"ì‹œê°„ëŒ€ë³„ í‰ê·  ì£¼ë¬¸ëŸ‰: {í‰ê· _ì£¼ë¬¸ëŸ‰:.2f}")

ì „ì²´ ì£¼ë¬¸ ê°œìˆ˜ í•©ê³„: 48620
ì‹œê°„ëŒ€ ê°œìˆ˜: 15
ì‹œê°„ëŒ€ë³„ í‰ê·  ì£¼ë¬¸ëŸ‰: 3241.33

In [91]:
# í‰ê·  ì£¼ë¬¸ëŸ‰ ì´í•˜ì¸ ì‹œê°„ëŒ€ë§Œ í•„í„°ë§
ë‚®ì€_í‰ê· _ì‹œê°„ëŒ€ = ì‹œê°„ëŒ€ë³„_ê°œìˆ˜[ì‹œê°„ëŒ€ë³„_ê°œìˆ˜['ê°œìˆ˜'] < í‰ê· _ì£¼ë¬¸ëŸ‰]

print(ë‚®ì€_í‰ê· _ì‹œê°„ëŒ€)

        ì‹œê°„ëŒ€    ê°œìˆ˜
0    9ì‹œ~10ì‹œ     4
1   10ì‹œ~11ì‹œ    17
2   11ì‹œ~12ì‹œ  2672
6   15ì‹œ~16ì‹œ  3170
12  21ì‹œ~22ì‹œ  2528
13  22ì‹œ~23ì‹œ  1370
14  23ì‹œ~24ì‹œ    68

### 11-12 : ì ì‹¬ì‹œê°„ ì „ 1ì‹œê°„ìœ¼ë¡œ ì ì‹¬ì‹œê°„ ì§„ì… êµ¬ê°„ >> ì£¼ë¬¸ëŸ‰ ì„œì„œíˆ ì¦ê°€
### 15-16(ì˜¤í›„3ì‹œ-4ì‹œ) : ì ì‹¬ì‹œê°„ ëë‚œ í›„ 1ì‹œê°„ìœ¼ë¡œ >> ì£¼ë¬¸ëŸ‰ ì„œì„œíˆ ê°ì†Œ - í• ì¸í–‰ì‚¬ í•´ë³¼ë²•í•˜ì§€ë§Œ ì£¼ë¬¸ëŸ‰ì€ í‰ê· ì¹˜ì¸ 3241ì— ê°€ê¹Œì›€.
### 21-23(ì˜¤í›„9ì‹œ~11ì‹œ) : ì£¼ë¬¸ëŸ‰ì´ ê°ì†Œí•˜ì˜€ê³  í‰ê· ì¹˜ì— í•œì°¸ ëª¨ìëŒ. ì•¼ì‹ ì‹œê°„ì´ë¯€ë¡œ ì´ ë•Œ ì£¼ë¬¸ëŸ‰ ì¦ê°€ë¥¼ ìœ„í•´ í• ì¸ì´ë²¤íŠ¸ë¥¼ í•´ë³¼ë§Œí•¨.

### **14. ğŸ”„ í”¼ì í¬ê¸° ì¡°í•© ë¶„ì„ â€“ ì–´ë–¤ ì‚¬ì´ì¦ˆ ì¡°í•©ì´ ìì£¼ ê°™ì´ íŒ”ë¦´ê¹Œ? í˜„ì„ë‹˜**

- **ëª©í‘œ**: í•œ ì£¼ë¬¸ ì•ˆì—ì„œ ì–´ë–¤ ì‚¬ì´ì¦ˆ ì¡°í•©ì´ ìì£¼ ë“±ì¥í•˜ëŠ”ê°€?
- **ì „ì²˜ë¦¬**:Â `Order ID`ë³„Â `Size`Â ì¡°í•© ë¶„ì„
- **ì‹œê°í™”**: í¬ê¸° ì¡°í•©ë³„ ë¹ˆë„ìˆ˜ íˆíŠ¸ë§µ
- **í™œìš©**: ì„¸íŠ¸ êµ¬ì„± ìµœì í™” (ì˜ˆ: M + L êµ¬ì„± ì„¸íŠ¸ ë©”ë‰´)

---

In [92]:
df

,í”¼ì ID,ì£¼ë¬¸ ID,í”¼ì ì´ë¦„ ID,ì£¼ë¬¸ ìˆ˜ëŸ‰,ì£¼ë¬¸ ë‚ ì§œ,ì£¼ë¬¸ ìš”ì¼,ì£¼ë¬¸ ì‹œê°„,ë‹¨ê°€,ì´ì•¡,í”¼ì ì‚¬ì´ì¦ˆ,í”¼ì ì¢…ë¥˜,í”¼ì ì¬ë£Œ ëª©ë¡,í”¼ì ì´ë¦„,ì›”,í”¼ìíƒ€ì…,ë¶„ê¸°,ì£¼ë¬¸ ì‹œê°„ ë³€í™˜,ì‹œê°„ëŒ€
0,1,1,hawaiian_m,1,2015/01/01,Thursday,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza,1,Classic The Hawaiian Pizza,ê²¨ìš¸(12~2ì›”),11,11ì‹œ~12ì‹œ
1,2,2,classic_dlx_m,1,2015/01/01,Thursday,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza,1,Classic The Classic Deluxe Pizza,ê²¨ìš¸(12~2ì›”),11,11ì‹œ~12ì‹œ
2,3,2,five_cheese_l,1,2015/01/01,Thursday,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza,1,Veggie The Five Cheese Pizza,ê²¨ìš¸(12~2ì›”),11,11ì‹œ~12ì‹œ
3,4,2,ital_supr_l,1,2015/01/01,Thursday,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza,1,Supreme The Italian Supreme Pizza,ê²¨ìš¸(12~2ì›”),11,11ì‹œ~12ì‹œ
4,5,2,mexicana_m,1,2015/01/01,Thursday,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,1,Veggie The Mexicana Pizza,ê²¨ìš¸(12~2ì›”),11,11ì‹œ~12ì‹œ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48615,48616,21348,ckn_alfredo_m,1,2015/12/31,Thursday,21:23:10,16.75,16.75,M,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",The Chicken Alfredo Pizza,12,Chicken The Chicken Alfredo Pizza,ê²¨ìš¸(12~2ì›”),21,21ì‹œ~22ì‹œ
48616,48617,21348,four_cheese_l,1,2015/12/31,Thursday,21:23:10,17.95,17.95,L,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",The Four Cheese Pizza,12,Veggie The Four Cheese Pizza,ê²¨ìš¸(12~2ì›”),21,21ì‹œ~22ì‹œ
48617,48618,21348,napolitana_s,1,2015/12/31,Thursday,21:23:10,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza,12,Classic The Napolitana Pizza,ê²¨ìš¸(12~2ì›”),21,21ì‹œ~22ì‹œ
48618,48619,21349,mexicana_l,1,2015/12/31,Thursday,22:09:54,20.25,20.25,L,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,12,Veggie The Mexicana Pizza,ê²¨ìš¸(12~2ì›”),22,22ì‹œ~23ì‹œ
48619,48620,21350,bbq_ckn_s,1,2015/12/31,Thursday,23:02:05,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza,12,Chicken The Barbecue Chicken Pizza,ê²¨ìš¸(12~2ì›”),23,23ì‹œ~24ì‹œ

ì£¼ë¬¸ ì¡°í•©ì„ ë³´ê¸° ì•ì„œì„œ ëª‡ê°œë¥¼ í•œë²ˆì— ì£¼ë¬¸í•˜ëŠ” ì§€ ë¹ˆë„ë¥¼ íŒŒì•…í•œë‹¤.

In [113]:
# ì£¼ë¬¸ IDë³„ í”¼ì ì‚¬ì´ì¦ˆ ë¦¬ìŠ¤íŠ¸(ì •ë ¬ í¬í•¨)
í”¼ìì‚¬ì´ì¦ˆ_ì¡°í•© = df.groupby('ì£¼ë¬¸ ID')['í”¼ì ì‚¬ì´ì¦ˆ'].apply(list).reset_index()

# ì¡°í•© ë‚´ ì´ í”¼ì ê°œìˆ˜ (ì¤‘ë³µ í¬í•¨)
í”¼ìì‚¬ì´ì¦ˆ_ì¡°í•©['ì¡°í•©ê°œìˆ˜'] = í”¼ìì‚¬ì´ì¦ˆ_ì¡°í•©['í”¼ì ì‚¬ì´ì¦ˆ'].apply(len)

# ì¡°í•© ë¬¸ìì—´ ìƒì„± (ë³´ê¸° ì‰½ê²Œ)
í”¼ìì‚¬ì´ì¦ˆ_ì¡°í•©['ì¡°í•©ë¬¸ìì—´'] = í”¼ìì‚¬ì´ì¦ˆ_ì¡°í•©['í”¼ì ì‚¬ì´ì¦ˆ'].apply(lambda x: ','.join(sorted(x)))

# ì¡°í•©ê°œìˆ˜ë³„ ë¹ˆë„ìˆ˜ ê³„ì‚°
ë¹ˆë„_ì¡°í•©ê°œìˆ˜ = í”¼ìì‚¬ì´ì¦ˆ_ì¡°í•©.groupby('ì¡°í•©ê°œìˆ˜').size().reset_index(name='ë¹ˆë„ìˆ˜')

print(ë¹ˆë„_ì¡°í•©ê°œìˆ˜)

    ì¡°í•©ê°œìˆ˜   ë¹ˆë„ìˆ˜
0      1  8201
1      2  6196
2      3  3325
3      4  2888
4      5   144
5      6    75
6      7    75
7      8    83
8      9    65
9     10    59
10    11    69
11    12    71
12    13    52
13    14    38
14    15     7
15    21     2

1ê°œ ì£¼ë¬¸ì´ ì œì¼ ë§ê³  ê·¸ë‹¤ìŒ 2,3,4ê°œê°€ ë’¤ë¥¼ ë”°ë¥¸ë‹¤.

ìš°ì„  ì „ì²´ ì¡°í•©ì—ì„œ TOP10ì„ ê°€ì ¸ì˜¨ë‹¤.

In [108]:
# 1. ì£¼ë¬¸ IDë³„ í”¼ì ì‚¬ì´ì¦ˆ ë¦¬ìŠ¤íŠ¸ë¥¼ ì •ë ¬í•˜ì—¬ ë¬¸ìì—´ë¡œ ê²°í•© (ìˆœì„œ ë¬´ì‹œ)
í”¼ìì‚¬ì´ì¦ˆ_ì¡°í•© = df.groupby('ì£¼ë¬¸ ID')['í”¼ì ì‚¬ì´ì¦ˆ'].apply(lambda x: ','.join(sorted(x))).reset_index(name='ì‚¬ì´ì¦ˆì¡°í•©')

# 2. ì¡°í•©ë³„ ë¹ˆë„ìˆ˜ ì„¸ê¸°
ì¡°í•©_ë¹ˆë„ = (
    í”¼ìì‚¬ì´ì¦ˆ_ì¡°í•©['ì‚¬ì´ì¦ˆì¡°í•©']
    .value_counts()
    .reset_index()
    .rename(columns={'index': 'ì‚¬ì´ì¦ˆì¡°í•©', 'ì‚¬ì´ì¦ˆì¡°í•©': 'ë¹ˆë„ìˆ˜'})
    .head(10)
)

# 3. ê²°ê³¼ ì¶œë ¥
print(ì¡°í•©_ë¹ˆë„)

   ì‚¬ì´ì¦ˆì¡°í•©   ë¹ˆë„ìˆ˜
0      L  3102
1      M  2604
2      S  2376
3    L,M  1520
4    L,S  1391
5    M,S  1166
6    L,L   900
7  L,M,S   716
8    M,M   587
9    S,S   493

2ê°œ ì¡°í•© ì‹œ TOP5ë¥¼ ì•Œ ìˆ˜ ìˆëŠ”ê²Œ 3ê°œ ì¡°í•©ì€ TOP5ë¥¼ ì•Œê¸° ì–´ë µë‹¤. í•œë²ˆ ë” êµ¬í•´ë³¸ë‹¤.

In [117]:
# ì£¼ë¬¸ IDë³„ ì‚¬ì´ì¦ˆ ì¡°í•© ë¦¬ìŠ¤íŠ¸ (ì •ë ¬í•˜ì—¬ ìˆœì„œ ë¬´ì‹œ)
í”¼ìì‚¬ì´ì¦ˆ_ì¡°í•© = df.groupby('ì£¼ë¬¸ ID')['í”¼ì ì‚¬ì´ì¦ˆ'].apply(lambda x: sorted(x)).reset_index()

# ì¡°í•© ê°œìˆ˜ ì»¬ëŸ¼ ì¶”ê°€
í”¼ìì‚¬ì´ì¦ˆ_ì¡°í•©['ì¡°í•©ê°œìˆ˜'] = í”¼ìì‚¬ì´ì¦ˆ_ì¡°í•©['í”¼ì ì‚¬ì´ì¦ˆ'].apply(len)

# ì¡°í•© ë¬¸ìì—´ ìƒì„±
í”¼ìì‚¬ì´ì¦ˆ_ì¡°í•©['ì¡°í•©ë¬¸ìì—´'] = í”¼ìì‚¬ì´ì¦ˆ_ì¡°í•©['í”¼ì ì‚¬ì´ì¦ˆ'].apply(lambda x: ','.join(x))

# ì¡°í•©ë³„ ë¹ˆë„ ê³„ì‚°
ì¡°í•©ë³„_ë¹ˆë„ = (
    í”¼ìì‚¬ì´ì¦ˆ_ì¡°í•©.groupby(['ì¡°í•©ê°œìˆ˜', 'ì¡°í•©ë¬¸ìì—´'])
    .size()
    .reset_index(name='ë¹ˆë„ìˆ˜')
)

# 2ê°œ ì¡°í•© Top10
top2 = ì¡°í•©ë³„_ë¹ˆë„[ì¡°í•©ë³„_ë¹ˆë„['ì¡°í•©ê°œìˆ˜'] == 2].sort_values('ë¹ˆë„ìˆ˜', ascending=False).head(10)

# 3ê°œ ì¡°í•© Top10
top3 = ì¡°í•©ë³„_ë¹ˆë„[ì¡°í•©ë³„_ë¹ˆë„['ì¡°í•©ê°œìˆ˜'] == 3].sort_values('ë¹ˆë„ìˆ˜', ascending=False).head(10)

print("=== ì‚¬ì´ì¦ˆ ì¡°í•© ê°œìˆ˜ 2ê°œ Top10 ===")
print(top2[['ì¡°í•©ë¬¸ìì—´', 'ë¹ˆë„ìˆ˜']])

print("\n=== ì‚¬ì´ì¦ˆ ì¡°í•© ê°œìˆ˜ 3ê°œ Top10 ===")
print(top3[['ì¡°í•©ë¬¸ìì—´', 'ë¹ˆë„ìˆ˜']])

=== ì‚¬ì´ì¦ˆ ì¡°í•© ê°œìˆ˜ 2ê°œ Top10 ===
    ì¡°í•©ë¬¸ìì—´   ë¹ˆë„ìˆ˜
6     L,M  1520
7     L,S  1391
11    M,S  1166
5     L,L   900
10    M,M   587
14    S,S   493
15   S,XL    46
8    L,XL    44
12   M,XL    40
9   L,XXL     4

=== ì‚¬ì´ì¦ˆ ì¡°í•© ê°œìˆ˜ 3ê°œ Top10 ===
    ì¡°í•©ë¬¸ìì—´  ë¹ˆë„ìˆ˜
22  L,M,S  716
18  L,L,M  461
19  L,L,S  414
21  L,M,M  401
25  L,S,S  369
28  M,M,S  266
30  M,S,S  255
17  L,L,L  156
27  M,M,M  103
33  S,S,S   86

Lì´ í¬í•¨ëœ ì¡°í•©ì˜ íŒë§¤ëŸ‰ì´ ë‹¤ë¥¸ ê²ƒìœ¼ë¡œë§Œ êµ¬ì„±ëœ ì¡°í•©ì˜ íŒë§¤ëŸ‰ë³´ë‹¤ ìš°ì„¸í•˜ë¯€ë¡œ 2,3ê°œ ì¡°í•© ì„¸íŠ¸ë©”ë‰´ì—ëŠ” 1íŒì„ Lë¡œ ê³ ì •í•˜ëŠ” ê²ƒì´ ì¢‹ì€ ì„ íƒì´ì´ë‹¤.